@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  // Text styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  // Navbar
  .navbar {
    // display: block;
    // text-align: center;

    > div {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    ul {
      // text-align: center;
      // justify-content: center;
      position: absolute;
      top: 3.7rem;
      background: $dark-color;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;

      &.show {
        display: inline-block;
      }

      &.hide {
        display: none;
      }
    }

    // h1 {
    //   margin-bottom: 1rem;
    // }

    > div {
      > span {
        // display: inline-block;
        width: 26px;
        height: 2px;
        background-color: $light-color;
        margin-bottom: 5px;
      }

      &.open {
        > span {
          transition: all 300ms ease-in-out;
          transform-origin: 3px 1px;
        }

        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  // Profiles
  .profile {
    grid-template-columns: 1fr;
    text-align: center;

    ul {
      display: none;
    }
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about {
    .skills {
      flex-direction: column;
    }
  }

  .post {
    grid-template-columns: 1fr;

    a,
    button {
      padding: 0.3rem 0.4rem;
    }
  }
}
